##### Data Manipulation Using Pandas

##### Fraud Detection Dataset

This dataset contains various columns relevant to identifying fraudulent transactions. Below is a detailed explanation of each column:

- **trans_date_trans_time**: Timestamp of the transaction.
- **cc_num**: Credit card number.
- **merchant**: Merchant where the transaction took place.
- **category**: Category of the merchant (e.g., travel, food).
- **amt**: Transaction amount.
- **first**: First name of the credit card holder.
- **last**: Last name of the credit card holder.
- **gender**: Gender of the credit card holder.
- **street**: Street address of the credit card holder.
- **city**: City of the credit card holder.
- **state**: State of the credit card holder.
- **zip**: Zip code of the credit card holder.
- **lat**: Latitude of the credit card holder's address.
- **long**: Longitude of the credit card holder's address.
- **city_pop**: Population of the city where the credit card holder lives.
- **job**: Job title of the credit card holder.
- **dob**: Date of birth of the credit card holder.
- **trans_num**: Unique transaction number.
- **unix_time**: Unix timestamp of the transaction.
- **merch_lat**: Latitude of the merchant's location.
- **merch_long**: Longitude of the merchant's location.
- **is_fraud**: Indicator whether the transaction is fraudulent (1 for fraud, 0 for non-fraud).

This dataset is designed to help with training and evaluating machine learning models to detect fraudulent activities by providing a rich set of features that can influence the likelihood of fraud.

For more details on the dataset, you can visit the following links:
- [Fraud Detection Dataset](https://www.kaggle.com/datasets/ranjeetshrivastav/fraud-detection-dataset)
- [Synthetic Financial Datasets For Fraud Detection](https://www.kaggle.com/datasets/ealaxi/paysim1)
- [IEEE-CIS Fraud Detection](https://www.kaggle.com/c/ieee-fraud-detection)

##### Introduction to DataFrames in Pandas 

>> Components of a Dataframe - They are Three Components
 - **.values**  -  is a way to access the underlying data of a DataFrame or Series as a NumPy array.

    When you have a DataFrame data, data.values returns a two-dimensional NumPy array representing the values in the DataFrame. Each row corresponds to a row in the DataFrame, and each column corresponds to a column in the DataFrame.

    Similarly, when you have a Series data, data.values returns a one-dimensional NumPy array representing the values in the Series.

    Accessing the values directly as a NumPy array can be useful when you want to perform numerical operations or use NumPy's functions on the data without considering the index or column labels of the DataFrame or Series.

- **.columns**  - refers to an attribute that returns the column labels of a DataFrame. When you have a DataFrame data, data.columns will return an Index       object    containing the column labels.

    This attribute is particularly useful when you want to access, iterate over, or manipulate the column labels programmatically. You can access individual columns by indexing data with the column label or use methods like .loc[] or .iloc[] to access specific rows and columns based on their labels or positions.

- **.index**    - refers to an attribute that provides access to the index labels of a DataFrame or Series. When you have a DataFrame data, data.index returns an Index object containing the index labels.

    The index labels represent the labels assigned to each row of the DataFrame. They can be integer-based, datetime-based, or even string-based, depending on how the DataFrame was created or manipulated.

    You can use data.index to access, iterate over, or manipulate the index labels programmatically. For example, you can access specific rows using .loc[] or .iloc[] methods based on their index labels or positions.

In [2]:
import pandas as pd

##### Loading the dataset and trying to do some exploration

In [3]:
data = pd.read_csv('/home/nacre/Python/Pandas/datasets/fraudTest.csv')

# Print the head of the dataset to see how data is distributed
# Excpected out is the first 3 rows from index 0 to index 2

data.head(3)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0

#### Inspecting the DataFrame further

In [4]:
# Inspecting the last three rows of the dataset
data.tail(3)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [5]:
# Check the datatypes and if we have any missing values
# Expected output is that there is no missing values from the dataset as it was randomly generated
print("Check for Missing values and the Datatypes \n \n")
data.info()

Check for Missing values and the Datatypes


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [6]:
print("The dataset has the following number of rows and columns respectively")
data.shape

The dataset has the following number of rows and columns respectively

(555719, 23)

In [7]:
#data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [8]:
#data.info()

In [9]:
print("Below id the summary Statistics\n \n",  data.describe().T)

Below id the summary Statistics

                count          mean           std           min           25%  \
Unnamed: 0  555719.0  2.778590e+05  1.604224e+05  0.000000e+00  1.389295e+05
cc_num      555719.0  4.178387e+17  1.309837e+18  6.041621e+10  1.800429e+14
amt         555719.0  6.939281e+01  1.567459e+02  1.000000e+00  9.630000e+00
zip         555719.0  4.884263e+04  2.685528e+04  1.257000e+03  2.629200e+04
lat         555719.0  3.854325e+01  5.061336e+00  2.002710e+01  3.466890e+01
long        555719.0 -9.023133e+01  1.372178e+01 -1.656723e+02 -9.679800e+01
city_pop    555719.0  8.822189e+04  3.003909e+05  2.300000e+01  7.410000e+02
unix_time   555719.0  1.380679e+09  5.201104e+06  1.371817e+09  1.376029e+09
merch_lat   555719.0  3.854280e+01  5.095829e+00  1.902742e+01  3.475530e+01
merch_long  555719.0 -9.023138e+01  1.373307e+01 -1.666716e+02 -9.690513e+01
is_fraud    555719.0  3.859864e-03  6.200784e-02  0.000000e+00  0.000000e+00

                     50%           75%           max
Unnamed: 0  2.778590e+05  4.167885e+05  5.557180e+05
cc_num      3.521417e+15  4.635331e+15  4.992346e+18
amt         4.729000e+01  8.301000e+01  2.276811e+04
zip         4.817400e+04  7.201100e+04  9.992100e+04
lat         3.937160e+01  4.189480e+01  6.568990e+01
long       -8.747690e+01 -8.017520e+01 -6.795030e+01
city_pop    2.408000e+03  1.968500e+04  2.906700e+06
unix_time   1.380762e+09  1.385867e+09  1.388534e+09
merch_lat   3.937659e+01  4.195416e+01  6.667930e+01
merch_long -8.744520e+01 -8.026464e+01 -6.695203e+01
is_fraud    0.000000e+00  0.000000e+00  1.000000e+00

In [10]:
#### Exploring the different parts of the DataFrame

In [11]:
# Values attribute of the dataFrame
data.values

array([[0, '2020-06-21 12:14:25', 2291163933867244, ..., 33.986391,
        -81.200714, 0],
       [1, '2020-06-21 12:14:33', 3573030041201292, ..., 39.450498,
        -109.960431, 0],
       [2, '2020-06-21 12:14:53', 3598215285024754, ..., 40.49581,
        -74.196111, 0],
       ...,
       [555716, '2020-12-31 23:59:15', 6011724471098086, ..., 46.65834,
        -119.715054, 0],
       [555717, '2020-12-31 23:59:24', 4079773899158, ..., 44.470525,
        -117.080888, 0],
       [555718, '2020-12-31 23:59:34', 4170689372027579, ..., 36.210097,
        -97.036372, 0]], dtype=object)

In [12]:
# Columns Check 
# Expected output is the colum headers that we have in the dataset
data.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

- Provides an intuitive way of checking out the dataset at a glance

In [13]:
#Expected Output is the total number of the rows in  the dataset
print("The number of rows in the dataset are in the: \n \n",data.index)

The number of rows in the dataset are in the:

 RangeIndex(start=0, stop=555719, step=1)

#### Sorting and Subsetting

- **Sorting**

Sorting involves arranging the data in either a DataFrame or a Series based on one or more columns or indices. This is particularly useful for organizing the data in ascending or descending order, making it easier to identify patterns or find specific values.

In Pandas, you can sort data using the **sort_values()** method for DataFrame or Series objects. This method allows you to specify one or more columns by which the data should be sorted. Additionally, you can control the sorting order (ascending or descending) using the ascending parameter.

- **Subsetting**

Subsetting involves selecting a subset of rows or columns from a DataFrame based on certain criteria. This allows you to focus on specific parts of the data that are relevant to your analysis or task.

In Pandas, you can subset data using various methods:

-  Selection by label: You can use **.loc[]** to select rows or columns by their labels.
-  Selection by position: You can use **.iloc[]** to select rows or columns by their positions (integer indices).
-  Boolean indexing: You can use boolean expressions to filter rows based on certain conditions.

#### Sorting

In [14]:
# Perform sorting of the dataset by is_fraud followed by the dob
# Follow up - Create a plot that shows the relationship between the date of birth and fraudulent activities

# Since the dataset id huge we can only check at the first five records

fraud_by_age = data.sort_values(["is_fraud", "dob"], ascending=False)

print(fraud_by_age.head())

        Unnamed: 0 trans_date_trans_time           cc_num  \
273050      273050   2020-09-30 07:18:02  180020605265701
273950      273950   2020-09-30 20:41:56  180020605265701
274054      274054   2020-09-30 22:10:03  180020605265701
274086      274086   2020-09-30 22:34:21  180020605265701
274143      274143   2020-09-30 23:17:10  180020605265701

                                 merchant       category      amt first  \
273050      fraud_Reilly, Heaney and Cole  gas_transport    11.50  John
273950                    fraud_Price Inc   shopping_net  1017.05  John
274054    fraud_Labadie, Treutel and Bode   shopping_net   943.12  John
274086                   fraud_Rempel Inc   shopping_net   752.02  John
274143  fraud_Larson, Quitzon and Spencer         travel    10.03  John

         last gender              street  ...      lat     long  city_pop  \
273050  Lewis      M  7908 Derrick Mount  ...  39.8616 -97.1825       314
273950  Lewis      M  7908 Derrick Mount  ...  39.8616 -97.1825       314
274054  Lewis      M  7908 Derrick Mount  ...  39.8616 -97.1825       314
274086  Lewis      M  7908 Derrick Mount  ...  39.8616 -97.1825       314
274143  Lewis      M  7908 Derrick Mount  ...  39.8616 -97.1825       314

                      job         dob                         trans_num  \
273050  Chemical engineer  2002-03-17  d417f917b6d0cef4b3d5d1e0407c367f
273950  Chemical engineer  2002-03-17  6e6d5617e7cb77a58e4dbce0b87f4096
274054  Chemical engineer  2002-03-17  b0a4a0e2b3a7dcd47c3cb2cc1374d3a9
274086  Chemical engineer  2002-03-17  b48acde1adcaf252d5181e7204a3dc5f
274143  Chemical engineer  2002-03-17  58b9f844a3f8d70e39fc2ef709671460

         unix_time  merch_lat merch_long  is_fraud
273050  1380525482  40.612081 -97.017175         1
273950  1380573716  39.610904 -97.718659         1
274054  1380579003  39.237628 -97.445436         1
274086  1380580461  40.201316 -97.259232         1
274143  1380583030  39.985120 -96.408480         1

[5 rows x 23 columns]

In [15]:
# Sort by dob descending and is_fraud ascending
# Purpose of sorting by two columns is in case we have values that are the same
data_sorted = data.sort_values(["is_fraud","dob"], ascending=[True, False])
print(data_sorted.head())

      Unnamed: 0 trans_date_trans_time          cc_num  \
610          610   2020-06-21 15:40:05  36485887555770
643          643   2020-06-21 15:49:29  36485887555770
1033        1033   2020-06-21 18:02:40  36485887555770
1166        1166   2020-06-21 18:53:46  36485887555770
3084        3084   2020-06-22 08:16:53  36485887555770

                                 merchant        category     amt    first  \
610    fraud_Turcotte, Batz and Buckridge  health_fitness    2.30  Michael
643                   fraud_Dickinson Ltd        misc_pos   30.91  Michael
1033    fraud_Turcotte, McKenzie and Koss   entertainment   72.70  Michael
1166                  fraud_Dickinson Ltd        misc_pos  163.09  Michael
3084  fraud_Greenholt, Jacobi and Gleason   gas_transport   53.97  Michael

       last gender                    street  ...      lat     long  city_pop  \
610   Gross      M  230 Ryan Tunnel Apt. 025  ...  40.4971 -82.8342       267
643   Gross      M  230 Ryan Tunnel Apt. 025  ...  40.4971 -82.8342       267
1033  Gross      M  230 Ryan Tunnel Apt. 025  ...  40.4971 -82.8342       267
1166  Gross      M  230 Ryan Tunnel Apt. 025  ...  40.4971 -82.8342       267
3084  Gross      M  230 Ryan Tunnel Apt. 025  ...  40.4971 -82.8342       267

                     job         dob                         trans_num  \
610   Facilities manager  2005-01-29  26866e18e766431bd6dc764ef1b8f8b8
643   Facilities manager  2005-01-29  74d2489fd6e8bf8dc68c96647ae9d0ae
1033  Facilities manager  2005-01-29  bc64f9ce5982da969d626382f6d0fc1d
1166  Facilities manager  2005-01-29  2777d810500a485aa8f58a02f9ffc0e4
3084  Facilities manager  2005-01-29  0cef2e5cf2f0e66b8f5c85d6d150424c

       unix_time  merch_lat merch_long  is_fraud
610   1371829205  40.577047 -82.686392         0
643   1371829769  40.524978 -82.960812         0
1033  1371837760  40.383071 -82.147218         0
1166  1371840826  40.667587 -83.099997         0
3084  1371889013  40.325931 -82.798906         0

[5 rows x 23 columns]

In [16]:
data_sort_column = data.sort_values(["trans_date_trans_time"],ascending=False)

print(data_sort_column.head(3))

        Unnamed: 0 trans_date_trans_time            cc_num  \
555718      555718   2020-12-31 23:59:34  4170689372027579
555717      555717   2020-12-31 23:59:24     4079773899158
555716      555716   2020-12-31 23:59:15  6011724471098086

                     merchant       category    amt   first     last gender  \
555718      fraud_Dare-Marvin  entertainment  38.13  Samuel     Frey      M
555717  fraud_Breitenberg LLC         travel   7.99    Eric  Preston      M
555716        fraud_Rau-Robel      kids_pets  86.88     Ann   Lawson      F

                            street  ...      lat      long  city_pop  \
555718    830 Myers Plaza Apt. 384  ...  35.6665  -97.4798    116001
555717  7020 Doyle Stream Apt. 951  ...  44.6255 -116.4493       129
555716  144 Evans Islands Apt. 683  ...  46.1966 -118.9017      3684

                 job         dob                         trans_num  \
555718   Media buyer  1993-05-10  1765bb45b3aa3224b4cdcb6e7a96cee3
555717  Cartographer  1965-12-15  14392d723bb7737606b2700ac791b7aa
555716      Musician  1981-11-29  6c5b7c8add471975aa0fec023b2e8408

         unix_time  merch_lat  merch_long  is_fraud
555718  1388534374  36.210097  -97.036372         0
555717  1388534364  44.470525 -117.080888         0
555716  1388534355  46.658340 -119.715054         0

[3 rows x 23 columns]

##### Observation
As you may have noticed, sorting might not always address the issue that you might to look at keenly, For instance when you only need to perform specific inspection to specific columns. This is attributed by the fact that after sorting the return contains all columns.

In such cases, that's where **subsetting** comes in handy - Returns only the referenced columns.

#### Subsetting 
- **Columns**

In [17]:
"""Create a dataframe that contains the following columns:
- trans_date_trans_time 
-  dob
-  gender
-  is_fraud """

new_data = data[["trans_date_trans_time", "dob", "gender", "is_fraud", "city_pop", "amt"]]

print("Below is our new dataset that has specific features that we need: \n \n")

print(new_data.head(25))

Below is our new dataset that has specific features that we need:


   trans_date_trans_time         dob gender  is_fraud  city_pop     amt
0    2020-06-21 12:14:25  1968-03-19      M         0    333497    2.86
1    2020-06-21 12:14:33  1990-01-17      F         0       302   29.84
2    2020-06-21 12:14:53  1970-10-21      F         0     34496   41.28
3    2020-06-21 12:15:15  1987-07-25      M         0     54767   60.05
4    2020-06-21 12:15:17  1955-07-06      M         0      1126    3.19
5    2020-06-21 12:15:37  1991-10-13      F         0       520   19.55
6    2020-06-21 12:15:44  1951-01-15      F         0      1139  133.93
7    2020-06-21 12:15:50  1972-03-05      F         0       343   10.37
8    2020-06-21 12:16:10  1973-05-27      M         0      3688    4.37
9    2020-06-21 12:16:11  1956-05-30      F         0       263   66.54
10   2020-06-21 12:16:20  1996-04-10      M         0       564    7.01
11   2020-06-21 12:16:47  1976-02-26      M         0      1645   42.40
12   2020-06-21 12:17:21  1977-01-04      F         0     26551    2.91
13   2020-06-21 12:18:27  1937-03-17      M         0      2258    7.93
14   2020-06-21 12:18:37  1971-11-02      F         0      1089    2.91
15   2020-06-21 12:18:41  1988-04-09      F         0     88735   24.73
16   2020-06-21 12:18:54  1987-02-13      M         0     32891    2.33
17   2020-06-21 12:19:50  1992-07-24      F         0      5875   16.60
18   2020-06-21 12:19:56  1977-12-16      F         0     10076   80.11
19   2020-06-21 12:20:13  1997-09-22      F         0       606    5.71
20   2020-06-21 12:20:34  1997-12-27      F         0    165556    8.53
21   2020-06-21 12:20:42  1992-05-09      F         0    525713   37.95
22   2020-06-21 12:20:57  1971-11-26      M         0     22930    1.74
23   2020-06-21 12:21:46  1997-11-23      F         0      9594    6.02
24   2020-06-21 12:21:47  1985-06-18      F         0      6951    9.87

- With the new dataset, we can decide to check how dob relates to is_fraud by using the sorting method

In [18]:
sorted_new_data = new_data.sort_values(["dob", "is_fraud"], ascending=[True, False])
sorted_new_data

       trans_date_trans_time         dob gender  is_fraud  city_pop      amt
121836   2020-08-03 01:23:17  1924-10-30      M         1      9784     5.60
121888   2020-08-03 01:48:07  1924-10-30      M         1      9784   337.71
122149   2020-08-03 03:49:18  1924-10-30      M         1      9784     9.69
125397   2020-08-03 22:22:52  1924-10-30      M         1      9784  1113.40
125489   2020-08-03 22:48:01  1924-10-30      M         1      9784  1037.21
...                      ...         ...    ...       ...       ...      ...
550662   2020-12-30 12:59:41  2005-01-29      M         0       267   176.52
551539   2020-12-30 18:52:45  2005-01-29      M         0       267   259.84
551731   2020-12-30 20:07:51  2005-01-29      M         0       267    82.19
554960   2020-12-31 19:29:24  2005-01-29      M         0       267    65.39
555355   2020-12-31 21:50:28  2005-01-29      M         0       267    33.40

[555719 rows x 6 columns]

In [19]:
# Checking out the number of F to M with value is_fraud as 1

male_count = new_data[(new_data["gender"]=='M') & (new_data["is_fraud"]==1)].shape[0]
female_count = new_data[(new_data["gender"]=='F') & (new_data["is_fraud"]==1)].shape[0]

print(f"The number of males with the status is_fraud set to 1 is: \t {male_count}")
print(f"The number of females with the status is_fraud set to 1 is: \t {female_count}")

The number of males with the status is_fraud set to 1 is: 	 981
The number of females with the status is_fraud set to 1 is: 	 1164

In [20]:
# Checking out the number of F to M with value is_fraud as 0
male_count = new_data[(new_data["gender"]=='M') & (new_data["is_fraud"]==0)].shape[0]
female_count = new_data[(new_data["gender"]=='F') & (new_data["is_fraud"]==0)].shape[0]

print(f"The number of males with the status is_fraud set to 0 is: \t {male_count}")
print(f"The number of females with the status is_fraud set to 0 is: \t {female_count}")

The number of males with the status is_fraud set to 0 is: 	 249852
The number of females with the status is_fraud set to 0 is: 	 303722

#### Subsetting
- **Rows**

- Using the sorting above, we have seen the count of the number that of males and females but we can´t tell the specific individuals 
- By subsetting the rows we can achieve the previous objective achieved by the code above

In [21]:
subset_rows =  new_data[(new_data["is_fraud"]>0) & (new_data["gender"]=='M')]
print("Data values of where the is_fraud is 1: \n")

# Sorting 
sorted_subset_rows = subset_rows.sort_values(by="trans_date_trans_time", ascending=False)


print(sorted_subset_rows.head(10))

Data values of where the is_fraud is 1:

       trans_date_trans_time         dob gender  is_fraud  city_pop      amt
517571   2020-12-22 23:13:39  1959-03-03      M         1     14462   766.38
517529   2020-12-22 23:06:03  1959-03-03      M         1     14462   289.27
517341   2020-12-22 22:31:48  1959-03-03      M         1     14462  1039.42
517274   2020-12-22 22:18:07  1959-03-03      M         1     14462   868.09
517197   2020-12-22 22:05:48  1959-03-03      M         1     14462  1041.51
514913   2020-12-22 14:30:10  1959-03-03      M         1     14462   997.77
512502   2020-12-22 03:56:29  1959-03-03      M         1     14462     6.60
511675   2020-12-21 23:57:16  1959-03-03      M         1     14462   981.22
511235   2020-12-21 22:36:56  1959-03-03      M         1     14462   866.01
506021   2020-12-21 03:29:08  1959-03-03      M         1     14462    11.79

In [22]:
max_population = new_data["city_pop"].max()
print("The maximum city population is: \t", max_population)

The maximum city population is: 	 2906700

In [23]:
median_population = new_data["city_pop"].median()
print("The maximum city population is: \t", median_population)

The maximum city population is: 	 2408.0

#### Subsetting by categorical Variables
1. One of the ways to achieve this is through the use of (or |). However in the cases where you have large datasets, achieving the above could be tedius

- Takes the form df[(df["col"] == "value_1") | (df["col"] == "value_2")]

In [24]:
# Check the rows that have males who value is both 0 and 1 and born in 1959
pop_impact = new_data[(new_data["is_fraud"] == 1) | ((new_data["city_pop"] <=2906700) & (new_data["city_pop"] >=100000)) ]

#Sorting out the data
sorted_pop_impact = pop_impact.sort_values(["city_pop"], ascending= True)
print("Evaluating How fraudulent activities are affected by high population: \n")

print(sorted_pop_impact.head(20))

Evaluating How fraudulent activities are affected by high population:

       trans_date_trans_time         dob gender  is_fraud  city_pop      amt
1857     2020-06-21 23:02:16  1969-09-15      F         1        23   842.65
1685     2020-06-21 22:06:39  1969-09-15      F         1        23    24.84
21747    2020-06-28 22:21:29  1969-10-30      F         1        63  1051.14
16326    2020-06-27 00:42:18  1969-10-30      F         1        63    18.25
19034    2020-06-28 03:23:52  1969-10-30      F         1        63   319.53
18509    2020-06-27 22:55:13  1969-10-30      F         1        63   614.72
18142    2020-06-27 19:47:59  1969-10-30      F         1        63   667.17
18487    2020-06-27 22:39:07  1969-10-30      F         1        63   135.82
21953    2020-06-28 23:28:24  1969-10-30      F         1        63   777.75
293629   2020-10-09 22:52:14  1944-05-14      M         1        74   845.70
292616   2020-10-09 12:15:41  1944-05-14      M         1        74    50.59
293570   2020-10-09 22:14:21  1944-05-14      M         1        74   974.22
295559   2020-10-10 22:47:11  1944-05-14      M         1        74   846.93
295510   2020-10-10 22:13:07  1944-05-14      M         1        74   107.46
293670   2020-10-09 23:10:32  1944-05-14      M         1        74   750.35
294754   2020-10-10 14:33:35  1944-05-14      M         1        74   908.80
307794   2020-10-15 22:55:52  1965-11-21      F         1        99  1012.20
307779   2020-10-15 22:49:25  1965-11-21      F         1        99  1030.08
307760   2020-10-15 22:36:47  1965-11-21      F         1        99   582.92
85686    2020-07-20 22:11:41  1986-03-28      M         1        99    19.19

2. Using the .isin
- df[df["col"].isin(["value_1", "value_2"])]

In [25]:
# Example of using .isin method (Not applicable to range conditions)
specific_populations = [63, 199]  # Example list of specific city populations
pop_impact = new_data[new_data["city_pop"].isin(specific_populations)]

print(pop_impact)

       trans_date_trans_time         dob gender  is_fraud  city_pop     amt
1121     2020-06-21 18:33:24  1969-10-30      F         0        63    5.88
2925     2020-06-22 07:10:43  1969-10-30      F         0        63    7.64
3247     2020-06-22 09:25:39  1969-10-30      F         0        63  125.01
3527     2020-06-22 11:31:29  1969-10-30      F         0        63   72.01
7430     2020-06-23 10:30:30  1969-10-30      F         0        63    7.83
...                      ...         ...    ...       ...       ...     ...
550045   2020-12-30 06:52:01  1969-10-30      F         0        63   43.28
550312   2020-12-30 09:37:28  1969-10-30      F         0        63  294.96
552631   2020-12-31 02:37:17  1969-10-30      F         0        63  129.43
553203   2020-12-31 08:04:53  1969-10-30      F         0        63   55.84
553270   2020-12-31 08:37:49  1969-10-30      F         0        63   30.78

[440 rows x 6 columns]

#### Mutating the Dataset - (Transformation, Feature engineering)

- We need to create a new column that only contains specific amounts after an inspection

In [26]:
#Check if there is any amount below 100 that's been classified as fraudulent and any amount above 1M that's been classified as non-fraudulent
fraud_check = new_data[((new_data["amt"]<=100) & (new_data["is_fraud"]==1))]

print("Sanity Check: \n \n ", fraud_check.head(20))

Sanity Check:

        trans_date_trans_time         dob gender  is_fraud  city_pop    amt
1685    2020-06-21 22:06:39  1969-09-15      F         1        23  24.84
1891    2020-06-21 23:16:12  1986-05-07      F         1    105638  22.55
2173    2020-06-22 01:18:02  1986-05-07      F         1    105638   8.39
2495    2020-06-22 03:48:20  1986-05-07      F         1    105638  13.25
5757    2020-06-22 22:20:13  1986-05-07      F         1    105638  21.92
5940    2020-06-22 23:08:25  1986-05-07      F         1    105638  21.74
10206   2020-06-24 03:33:40  1959-03-30      M         1      7728   7.82
11702   2020-06-24 22:26:26  1959-05-10      F         1      1131  46.36
11842   2020-06-24 23:54:32  1959-05-10      F         1      1131  49.18
13876   2020-06-25 23:37:19  1959-05-10      F         1      1131   4.64
13897   2020-06-25 23:48:37  1959-03-30      M         1      7728  95.52
14386   2020-06-26 05:56:53  1963-02-09      F         1     67082   8.32
16326   2020-06-27 00:42:18  1969-10-30      F         1        63  18.25
16365   2020-06-27 01:14:25  1982-02-08      M         1     23727  11.82
18458   2020-06-27 22:23:08  1982-02-08      M         1     23727   9.99
25997   2020-06-29 23:10:14  1986-05-02      F         1      1679  21.88
26013   2020-06-29 23:16:13  1973-11-14      F         1      5621   8.85
26088   2020-06-29 23:38:00  1986-05-02      F         1      1679  20.53
26139   2020-06-29 23:52:03  1986-05-02      F         1      1679  22.91
26194   2020-06-30 00:03:56  1984-02-29      F         1     50489   9.78

In [27]:
fraud_check_2= ((new_data["amt"]>=1000000) & (new_data["is_fraud"]==0))

print("Sanity Check 2: \n \n ", fraud_check_2.head(20))

Sanity Check 2:

  0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

##### Adding New Columns to the Dataset
- To learn more from the dataset, let's append some more columns 
- comprehensive_data8 = new_data
- We can create a column to show the age of the population and append that to our dataset:
- This covers the concept of Adding Columns
- The column will give the age at the point of transaction

In [28]:
# Adding two new columns to the dataset
new_data['Tran_date'] = new_data['trans_date_trans_time'].str.split(' ').str[0]
new_data['Tran_time'] = new_data['trans_date_trans_time'].str.split(' ').str[1]

/tmp/ipykernel_692539/213790843.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Tran_date'] = new_data['trans_date_trans_time'].str.split(' ').str[0]
/tmp/ipykernel_692539/213790843.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Tran_time'] = new_data['trans_date_trans_time'].str.split(' ').str[1]

In [29]:
new_data['Tran_date'] = new_data['Tran_date'].astype('datetime64[ns]')

/tmp/ipykernel_692539/394668735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Tran_date'] = new_data['Tran_date'].astype('datetime64[ns]')

In [30]:
print(new_data.head(10))

  trans_date_trans_time         dob gender  is_fraud  city_pop     amt  \
0   2020-06-21 12:14:25  1968-03-19      M         0    333497    2.86
1   2020-06-21 12:14:33  1990-01-17      F         0       302   29.84
2   2020-06-21 12:14:53  1970-10-21      F         0     34496   41.28
3   2020-06-21 12:15:15  1987-07-25      M         0     54767   60.05
4   2020-06-21 12:15:17  1955-07-06      M         0      1126    3.19
5   2020-06-21 12:15:37  1991-10-13      F         0       520   19.55
6   2020-06-21 12:15:44  1951-01-15      F         0      1139  133.93
7   2020-06-21 12:15:50  1972-03-05      F         0       343   10.37
8   2020-06-21 12:16:10  1973-05-27      M         0      3688    4.37
9   2020-06-21 12:16:11  1956-05-30      F         0       263   66.54

   Tran_date Tran_time
0 2020-06-21  12:14:25
1 2020-06-21  12:14:33
2 2020-06-21  12:14:53
3 2020-06-21  12:15:15
4 2020-06-21  12:15:17
5 2020-06-21  12:15:37
6 2020-06-21  12:15:44
7 2020-06-21  12:15:50
8 2020-06-21  12:16:10
9 2020-06-21  12:16:11

In [31]:
# Convert the dob to datetime

new_data['dob'] = new_data['dob'].astype('datetime64[ns]')

/tmp/ipykernel_692539/1005311602.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['dob'] = new_data['dob'].astype('datetime64[ns]')

In [32]:
# Calculating the age
new_data['Age'] = (new_data['Tran_date'] - new_data['dob']).dt.days

print('The age of the customers that were defrauded')
new_data.head(10)

/tmp/ipykernel_692539/3427359231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Age'] = (new_data['Tran_date'] - new_data['dob']).dt.days

The age of the customers that were defrauded

,trans_date_trans_time,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age
0,2020-06-21 12:14:25,1968-03-19,M,0,333497,2.86,2020-06-21,12:14:25,19087
1,2020-06-21 12:14:33,1990-01-17,F,0,302,29.84,2020-06-21,12:14:33,11113
2,2020-06-21 12:14:53,1970-10-21,F,0,34496,41.28,2020-06-21,12:14:53,18141
3,2020-06-21 12:15:15,1987-07-25,M,0,54767,60.05,2020-06-21,12:15:15,12020
4,2020-06-21 12:15:17,1955-07-06,M,0,1126,3.19,2020-06-21,12:15:17,23727
5,2020-06-21 12:15:37,1991-10-13,F,0,520,19.55,2020-06-21,12:15:37,10479
6,2020-06-21 12:15:44,1951-01-15,F,0,1139,133.93,2020-06-21,12:15:44,25360
7,2020-06-21 12:15:50,1972-03-05,F,0,343,10.37,2020-06-21,12:15:50,17640
8,2020-06-21 12:16:10,1973-05-27,M,0,3688,4.37,2020-06-21,12:16:10,17192
9,2020-06-21 12:16:11,1956-05-30,F,0,263,66.54,2020-06-21,12:16:11,23398

###  Observation
- We have created three new columns in our dataset, Tran_date, Tran_Time and Age
- The age has been presented in days and we need to convert that to years for ease of interpretation.

In [33]:
new_data['Age'] = new_data['Age'] /365.25

new_data.head(10)

/tmp/ipykernel_692539/1664080071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Age'] = new_data['Age'] /365.25

,trans_date_trans_time,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age
0,2020-06-21 12:14:25,1968-03-19,M,0,333497,2.86,2020-06-21,12:14:25,52.257358
1,2020-06-21 12:14:33,1990-01-17,F,0,302,29.84,2020-06-21,12:14:33,30.425736
2,2020-06-21 12:14:53,1970-10-21,F,0,34496,41.28,2020-06-21,12:14:53,49.667351
3,2020-06-21 12:15:15,1987-07-25,M,0,54767,60.05,2020-06-21,12:15:15,32.908966
4,2020-06-21 12:15:17,1955-07-06,M,0,1126,3.19,2020-06-21,12:15:17,64.960986
5,2020-06-21 12:15:37,1991-10-13,F,0,520,19.55,2020-06-21,12:15:37,28.689938
6,2020-06-21 12:15:44,1951-01-15,F,0,1139,133.93,2020-06-21,12:15:44,69.431896
7,2020-06-21 12:15:50,1972-03-05,F,0,343,10.37,2020-06-21,12:15:50,48.295688
8,2020-06-21 12:16:10,1973-05-27,M,0,3688,4.37,2020-06-21,12:16:10,47.069131
9,2020-06-21 12:16:11,1956-05-30,F,0,263,66.54,2020-06-21,12:16:11,64.060233

In [34]:
new_data.describe().T

,count,mean,min,25%,50%,75%,max,std
dob,555719,1973-11-11 16:30:05.937173264,1924-10-30 00:00:00,1962-09-27 00:00:00,1975-11-30 00:00:00,1987-04-23 00:00:00,2005-01-29 00:00:00,NaN
is_fraud,555719.0,0.00386,0.0,0.0,0.0,0.0,1.0,0.062008
city_pop,555719.0,88221.887918,23.0,741.0,2408.0,19685.0,2906700.0,300390.892061
amt,555719.0,69.39281,1.0,9.63,47.29,83.01,22768.11,156.745941
Tran_date,555719,2020-10-01 12:35:52.929807872,2020-06-21 00:00:00,2020-08-09 00:00:00,2020-10-03 00:00:00,2020-12-01 00:00:00,2020-12-31 00:00:00,NaN
Age,555719.0,46.887987,15.392197,33.448323,44.908966,58.056126,96.169747,17.431204

In [35]:
# Since we already created two columns Tran_date and Tran_Time we can drop the trans_date_trans_time column

new_data.drop(columns=['trans_date_trans_time'], inplace=True)
new_data.head(10)

/tmp/ipykernel_692539/228026132.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.drop(columns=['trans_date_trans_time'], inplace=True)

,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age
0,1968-03-19,M,0,333497,2.86,2020-06-21,12:14:25,52.257358
1,1990-01-17,F,0,302,29.84,2020-06-21,12:14:33,30.425736
2,1970-10-21,F,0,34496,41.28,2020-06-21,12:14:53,49.667351
3,1987-07-25,M,0,54767,60.05,2020-06-21,12:15:15,32.908966
4,1955-07-06,M,0,1126,3.19,2020-06-21,12:15:17,64.960986
5,1991-10-13,F,0,520,19.55,2020-06-21,12:15:37,28.689938
6,1951-01-15,F,0,1139,133.93,2020-06-21,12:15:44,69.431896
7,1972-03-05,F,0,343,10.37,2020-06-21,12:15:50,48.295688
8,1973-05-27,M,0,3688,4.37,2020-06-21,12:16:10,47.069131
9,1956-05-30,F,0,263,66.54,2020-06-21,12:16:11,64.060233

##### Using the Combo Attack
 - There are four most used types of data manipulation which we have checked above.
 - We can combine the above methods to achieve a more comprehensive data manipulation
 - 1. Sorting 
 - 2. Subsetting Rows
 - 3. Subsetting Columns 
 - 4. Adding new columns 
  - Combine the tools above

In [36]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   dob        555719 non-null  datetime64[ns]
 1   gender     555719 non-null  object
 2   is_fraud   555719 non-null  int64
 3   city_pop   555719 non-null  int64
 4   amt        555719 non-null  float64
 5   Tran_date  555719 non-null  datetime64[ns]
 6   Tran_time  555719 non-null  object
 7   Age        555719 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 33.9+ MB

In [37]:
df_new = new_data.copy()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   dob        555719 non-null  datetime64[ns]
 1   gender     555719 non-null  object
 2   is_fraud   555719 non-null  int64
 3   city_pop   555719 non-null  int64
 4   amt        555719 non-null  float64
 5   Tran_date  555719 non-null  datetime64[ns]
 6   Tran_time  555719 non-null  object
 7   Age        555719 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 33.9+ MB

In [38]:
#Rolling back to the initial Dataset and applying the combo attack
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

##### Creating a new Dataset by Combining the columns of our newly created dataset and some of the columns of the initial datasets

In [39]:
new_data_1 = new_data[['dob', 'gender', 'is_fraud', 'city_pop', 'amt', 'Tran_date', 'Tran_time', 'Age']]
new_data_2 = data[['cc_num', 'merchant', 'category', 'first', 'last', 'city', 'state', 'job', 'trans_num']]

  # Create a copy of the original data 
data_df = pd.concat([new_data_1, new_data_2], axis=1)

print('Below is our newly generated dataset')

data_df.head()

Below is our newly generated dataset

,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age,cc_num,merchant,category,first,last,city,state,job,trans_num
0,1968-03-19,M,0,333497,2.86,2020-06-21,12:14:25,52.257358,2291163933867244,fraud_Kirlin and Sons,personal_care,Jeff,Elliott,Columbia,SC,Mechanical engineer,2da90c7d74bd46a0caf3777415b3ebd3
1,1990-01-17,F,0,302,29.84,2020-06-21,12:14:33,30.425736,3573030041201292,fraud_Sporer-Keebler,personal_care,Joanne,Williams,Altonah,UT,"Sales professional, IT",324cc204407e99f51b0d6ca0055005e7
2,1970-10-21,F,0,34496,41.28,2020-06-21,12:14:53,49.667351,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,Ashley,Lopez,Bellmore,NY,"Librarian, public",c81755dbbbea9d5c77f094348a7579be
3,1987-07-25,M,0,54767,60.05,2020-06-21,12:15:15,32.908966,3591919803438423,fraud_Haley Group,misc_pos,Brian,Williams,Titusville,FL,Set designer,2159175b9efe66dc301f149d3d5abf8c
4,1955-07-06,M,0,1126,3.19,2020-06-21,12:15:17,64.960986,3526826139003047,fraud_Johnston-Casper,travel,Nathan,Massey,Falmouth,MI,Furniture designer,57ff021bd3f328f8738bb535c302a31b

#### We can combine the first and the last name into Customer Names
- This will help us to identify the customers better
- We can also drop the first and last name columns"""

In [40]:
data_df['Customer Name'] = data_df['first'] + ' ' + data_df['last']

data_df.head()

,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age,cc_num,merchant,category,first,last,city,state,job,trans_num,Customer Name
0,1968-03-19,M,0,333497,2.86,2020-06-21,12:14:25,52.257358,2291163933867244,fraud_Kirlin and Sons,personal_care,Jeff,Elliott,Columbia,SC,Mechanical engineer,2da90c7d74bd46a0caf3777415b3ebd3,Jeff Elliott
1,1990-01-17,F,0,302,29.84,2020-06-21,12:14:33,30.425736,3573030041201292,fraud_Sporer-Keebler,personal_care,Joanne,Williams,Altonah,UT,"Sales professional, IT",324cc204407e99f51b0d6ca0055005e7,Joanne Williams
2,1970-10-21,F,0,34496,41.28,2020-06-21,12:14:53,49.667351,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,Ashley,Lopez,Bellmore,NY,"Librarian, public",c81755dbbbea9d5c77f094348a7579be,Ashley Lopez
3,1987-07-25,M,0,54767,60.05,2020-06-21,12:15:15,32.908966,3591919803438423,fraud_Haley Group,misc_pos,Brian,Williams,Titusville,FL,Set designer,2159175b9efe66dc301f149d3d5abf8c,Brian Williams
4,1955-07-06,M,0,1126,3.19,2020-06-21,12:15:17,64.960986,3526826139003047,fraud_Johnston-Casper,travel,Nathan,Massey,Falmouth,MI,Furniture designer,57ff021bd3f328f8738bb535c302a31b,Nathan Massey

In [41]:
# Drop the two columns 
data_df =  data_df.drop(columns=['first', 'last'])

data_df.head()

,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age,cc_num,merchant,category,city,state,job,trans_num,Customer Name
0,1968-03-19,M,0,333497,2.86,2020-06-21,12:14:25,52.257358,2291163933867244,fraud_Kirlin and Sons,personal_care,Columbia,SC,Mechanical engineer,2da90c7d74bd46a0caf3777415b3ebd3,Jeff Elliott
1,1990-01-17,F,0,302,29.84,2020-06-21,12:14:33,30.425736,3573030041201292,fraud_Sporer-Keebler,personal_care,Altonah,UT,"Sales professional, IT",324cc204407e99f51b0d6ca0055005e7,Joanne Williams
2,1970-10-21,F,0,34496,41.28,2020-06-21,12:14:53,49.667351,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,Bellmore,NY,"Librarian, public",c81755dbbbea9d5c77f094348a7579be,Ashley Lopez
3,1987-07-25,M,0,54767,60.05,2020-06-21,12:15:15,32.908966,3591919803438423,fraud_Haley Group,misc_pos,Titusville,FL,Set designer,2159175b9efe66dc301f149d3d5abf8c,Brian Williams
4,1955-07-06,M,0,1126,3.19,2020-06-21,12:15:17,64.960986,3526826139003047,fraud_Johnston-Casper,travel,Falmouth,MI,Furniture designer,57ff021bd3f328f8738bb535c302a31b,Nathan Massey

#### Descriptive and Inferential Statistics
- Descriptive Statistics
    - Descriptive statistics provide a summary of the data, offering insights into its structure and patterns. They are primarily used to describe and understand the main features of a dataset. In Python, the Pandas library is widely used for this purpose due to its powerful and flexible data manipulation capabilities.

        - Measures of Central Tendency:

            - Mean: The average of all values.

                   - mean_value = df['column_name'].mean()

            - Median: The middle value in a sorted list of numbers.
                    
                   - median_value = df['column_name'].median()

            - Mode: The most frequently occurring value.
                   
                   - mode_value = df['column_name'].mode()[0]
                   - Note: The mode() function returns a Series, so we use [0] to get the first mode.
        - Measures of Dispersion:

            - Standard Deviation: Measures the amount of variation or dispersion of a set of values.
             
                   - std_dev = df['column_name'].std()
            - Variance: The average of the squared differences from the Mean.
              
                   - variance = df['column_name'].var()
            - Range: The difference between the maximum and minimum values.

                   - range_value = df['column_name'].max() - df['column_name'].min()

       - Percentiles and Quartiles:

            - Percentiles: Indicate the value below which a given percentage of observations fall.

                     percentile_25 = df['column_name'].quantile(0.25)
                     percentile_75 = df['column_name'].quantile(0.75)
            - Quartiles: Specific percentiles that divide the data into four equal parts.

                     q1 = df['column_name'].quantile(0.25)
                     q3 = df['column_name'].quantile(0.75)

       - Summary Statistics:

            - Describe: Provides a summary of the central tendency, dispersion, and shape of the dataset’s distribution.

                     summary = df['column_name'].describe()

##### ---- We'll Look into Inferential statistics way later

----> Start off by summary statistics

In [42]:
# Birds eye view of the new dataset
data_df.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
dob,555719,NaN,NaN,NaN,1973-11-11 16:30:05.937173264,1924-10-30 00:00:00,1962-09-27 00:00:00,1975-11-30 00:00:00,1987-04-23 00:00:00,2005-01-29 00:00:00,NaN
gender,555719,2,F,304886,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_fraud,555719.0,NaN,NaN,NaN,0.00386,0.0,0.0,0.0,0.0,1.0,0.062008
city_pop,555719.0,NaN,NaN,NaN,88221.887918,23.0,741.0,2408.0,19685.0,2906700.0,300390.892061
amt,555719.0,NaN,NaN,NaN,69.39281,1.0,9.63,47.29,83.01,22768.11,156.745941
Tran_date,555719,NaN,NaN,NaN,2020-10-01 12:35:52.929807872,2020-06-21 00:00:00,2020-08-09 00:00:00,2020-10-03 00:00:00,2020-12-01 00:00:00,2020-12-31 00:00:00,NaN
Tran_time,555719,86092,17:47:40,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,555719.0,NaN,NaN,NaN,46.887987,15.392197,33.448323,44.908966,58.056126,96.169747,17.431204
cc_num,555719.0,NaN,NaN,NaN,417838695528764096.0,60416207185.0,180042946491150.0,3521417320836166.0,4635330563105903.0,4992346398065154048.0,1309836622980698624.0
merchant,555719,693,fraud_Kilback LLC,1859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category,555719,14,gas_transport,56370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,555719,849,Birmingham,2423,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,555719,50,TX,40393,NaN,NaN,NaN,NaN,NaN,NaN,NaN
job,555719,478,Film/video editor,4119,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trans_num,555719,555719,2da90c7d74bd46a0caf3777415b3ebd3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Name,555719,917,Scott Martin,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Explanation on the above summary statistics 
- The describe() method in Pandas provides a summary of statistics pertaining to the DataFrame columns. When you use data_df.describe(include='all'), it returns a descriptive statistics summary for all columns in the DataFrame, including numerical, categorical, and object-type data.

- Transposing with .T
Transposing the DataFrame using .T swaps rows and columns. This is particularly useful for descriptive statistics because it changes the orientation so that each column summary becomes a row, making it easier to read, especially when dealing with many columns.

- Numerical Columns:

    - count: Number of non-null entries.
    - mean: Average of the values.
    - std: Standard deviation, measuring the dispersion from the mean.
    - min: Minimum value.
    - 25%: First quartile (25th percentile).
    - 50%: Median (50th percentile).
    - 75%: Third quartile (75th percentile).
    - max: Maximum value.

- Categorical and Object-type Columns:

    - count: Number of non-null entries.
    - unique: Number of unique values.
    - top: Most frequent value.
    - freq: Frequency of the most frequent value.

##### Indexing and Slicing
- Indexing and slicing are essential techniques for accessing and manipulating data in a DataFrame. They allow you to select specific rows, columns, or subsets of data based on conditions or criteria.
- 1. Indexing:  Accessing data using labels or indices.
- 2. Slicing: Extracting a subset of data based on a range of labels or indices.

##### Accessing a column of a DataFrame - Indexing
- To access a column of a DataFrame, you can use the column name as the key inside square brackets. This returns a Pandas Series, which is a one-dimensional labeled array capable of holding any data type.
 - The technique is useful when performing closer inspection on a dataset

In [43]:
# Access the names age and is fraud columns

access_data = data_df[['Customer Name','Age','is_fraud']]

access_data

          Customer Name        Age  is_fraud
0          Jeff Elliott  52.257358         0
1       Joanne Williams  30.425736         0
2          Ashley Lopez  49.667351         0
3        Brian Williams  32.908966         0
4         Nathan Massey  64.960986         0
...                 ...        ...       ...
555714    Michael Olson  54.880219         0
555715     Jose Vasquez  21.013005         0
555716       Ann Lawson  39.088296         0
555717     Eric Preston  55.044490         0
555718      Samuel Frey  27.644079         0

[555719 rows x 3 columns]

 ##### .loc[] and .iloc[]
- .locloc[] and .iloc[] are two primary methods used for indexing and slicing data in a DataFrame.
- 1. .loc[]: Label-based indexing. It allows you to access data using labels (row and column names) to select rows and columns.
- 2. .iloc[]: Integer-based indexing. It allows you to access data using integer indices to select rows and columns.

- **NB** Both methods return a subset of the DataFrame based on the specified criteria.

In [44]:
# Accessing specific values of the dataset
# The name in the first row of the Customer name

print("The first Name in out Dataset is: ")
data_df.loc[0, 'Customer Name']

The first Name in out Dataset is:

'Jeff Elliott'

In [45]:
# Accessing a list of columns
print("Age and is fraud")
data_df.loc[:, ['Age', 'is_fraud', 'amt']]

Age and is fraud

              Age  is_fraud     amt
0       52.257358         0    2.86
1       30.425736         0   29.84
2       49.667351         0   41.28
3       32.908966         0   60.05
4       64.960986         0    3.19
...           ...       ...     ...
555714  54.880219         0   43.77
555715  21.013005         0  111.84
555716  39.088296         0   86.88
555717  55.044490         0    7.99
555718  27.644079         0   38.13

[555719 rows x 3 columns]

In [46]:
# Accessing a list or row
print(" First 6 row:")
data_df.loc[:5, :]

 First 6 row:

,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age,cc_num,merchant,category,city,state,job,trans_num,Customer Name
0,1968-03-19,M,0,333497,2.86,2020-06-21,12:14:25,52.257358,2291163933867244,fraud_Kirlin and Sons,personal_care,Columbia,SC,Mechanical engineer,2da90c7d74bd46a0caf3777415b3ebd3,Jeff Elliott
1,1990-01-17,F,0,302,29.84,2020-06-21,12:14:33,30.425736,3573030041201292,fraud_Sporer-Keebler,personal_care,Altonah,UT,"Sales professional, IT",324cc204407e99f51b0d6ca0055005e7,Joanne Williams
2,1970-10-21,F,0,34496,41.28,2020-06-21,12:14:53,49.667351,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,Bellmore,NY,"Librarian, public",c81755dbbbea9d5c77f094348a7579be,Ashley Lopez
3,1987-07-25,M,0,54767,60.05,2020-06-21,12:15:15,32.908966,3591919803438423,fraud_Haley Group,misc_pos,Titusville,FL,Set designer,2159175b9efe66dc301f149d3d5abf8c,Brian Williams
4,1955-07-06,M,0,1126,3.19,2020-06-21,12:15:17,64.960986,3526826139003047,fraud_Johnston-Casper,travel,Falmouth,MI,Furniture designer,57ff021bd3f328f8738bb535c302a31b,Nathan Massey
5,1991-10-13,F,0,520,19.55,2020-06-21,12:15:37,28.689938,30407675418785,fraud_Daugherty LLC,kids_pets,Breesport,NY,Psychotherapist,798db04aaceb4febd084f1a7c404da93,Danielle Evans

##### Slicing
- Slicing is a powerful technique for extracting a subset of data based on a range of labels or indices.
- It allows you to select rows and columns within a specified range.
- Slicing is performed using the colon (:) operator, which specifies the start and end indices or labels.
- The syntax for slicing is: df.loc[start:end, start:end]
- **NB** Slicing is inclusive of the start index and exclusive of the end index.

In [47]:
# Using .loc to access details from index 10 to 15
data_df.loc[10:15, :]

,dob,gender,is_fraud,city_pop,amt,Tran_date,Tran_time,Age,cc_num,merchant,category,city,state,job,trans_num,Customer Name
10,1996-04-10,M,0,564,7.01,2020-06-21,12:16:20,24.197125,2242542703101233,"fraud_Feil, Hilpert and Koss",food_dining,Westport,KY,Pensions consultant,3b8e4d02d9e1a3bf97cf449eb0317f2c,Samuel Jenkins
11,1976-02-26,M,0,1645,42.40,2020-06-21,12:16:47,44.317591,571465035400,fraud_Gottlieb Group,kids_pets,Fort Washakie,WY,Freight forwarder,fa3071565d94fb286cb0ed398c6d61d3,Louis Fisher
12,1977-01-04,F,0,26551,2.91,2020-06-21,12:17:21,43.460643,6593250708747804,fraud_Connelly-Carter,home,Loxahatchee,FL,Paramedic,a21cb82e7d8fdbf4062f15c9422a4ca6,Melissa Meza
13,1937-03-17,M,0,2258,7.93,2020-06-21,12:18:27,83.263518,4988304376504,fraud_Bechtelar-Rippin,food_dining,Rock Tavern,NY,Building surveyor,d0d2b5cca5ae19e0a07dc7ef5d51e59e,William Thompson
14,1971-11-02,F,0,1089,2.91,2020-06-21,12:18:37,48.635181,6011504998544485,fraud_Lubowitz-Walter,kids_pets,Jones,AL,Materials engineer,61dca41a9728ea5fd6db99efd59768f8,Ashley Whitney
15,1988-04-09,F,0,88735,24.73,2020-06-21,12:18:41,32.199863,4570636521433188,"fraud_Welch, Rath and Koepp",entertainment,Deltona,FL,Commercial horticulturist,ea11379e8aa1b08d584149d65770faee,Christine Leblanc

In [48]:
# Slicing rows using .loc
# Accessing rows from index 10 to 15 and columns 'Age' and 'is_fraud'
data_df.loc[10:15, ['Age', 'is_fraud']]

          Age  is_fraud
10  24.197125         0
11  44.317591         0
12  43.460643         0
13  83.263518         0
14  48.635181         0
15  32.199863         0

##### Boolean Indexing
- Boolean indexing is a powerful technique for filtering data based on specific conditions.
- It allows you to select rows that satisfy a given condition or criteria.
- Boolean indexing is performed by passing a boolean expression or condition inside square brackets.
- The expression evaluates to a boolean array, and the DataFrame returns only the rows where the condition is True.

In [53]:
# Checking  the number of fraud cases for 20-30 years old

# Create a boolean mask for customers aged between 20 and 30
age_mask = data_df.loc[((data_df['Age'] >= 20) & (data_df['Age'] <= 30)) & (data_df['is_fraud'] == 1)]
print(age_mask)

              dob gender  is_fraud  city_pop      amt  Tran_date Tran_time  \
1784   1994-05-31      M         1     71335  1077.69 2020-06-21  22:38:55
1906   1994-05-31      M         1     71335  1128.26 2020-06-21  23:21:44
1956   1994-05-31      M         1     71335   931.82 2020-06-21  23:35:27
1968   1994-05-31      M         1     71335   983.00 2020-06-21  23:40:26
2039   1994-05-31      M         1     71335   701.81 2020-06-22  00:06:40
...           ...    ...       ...       ...      ...        ...       ...
488998 1995-08-30      F         1       724    15.41 2020-12-17  00:52:18
491777 1995-08-30      F         1       724   925.28 2020-12-17  20:57:52
492026 1995-08-30      F         1       724   986.73 2020-12-17  22:24:15
492200 1995-08-30      F         1       724   890.81 2020-12-17  23:23:43
492277 1995-08-30      F         1       724   913.22 2020-12-17  23:43:58

              Age            cc_num                                merchant  \
1784    26.058864  4005676619255478     fraud_Heathcote, Yost and Kertzmann
1906    26.058864  4005676619255478                         fraud_Kuhic LLC
1956    26.058864  4005676619255478           fraud_Reichert, Rowe and Mraz
1968    26.058864  4005676619255478       fraud_Kihn, Abernathy and Douglas
2039    26.061602  4005676619255478       fraud_Rodriguez, Yost and Jenkins
...           ...               ...                                     ...
488998  25.300479  2714019737356678       fraud_Schaefer, McGlynn and Bosco
491777  25.300479  2714019737356678                     fraud_Stamm-Witting
492026  25.300479  2714019737356678  fraud_Stanton, Jakubowski and Baumbach
492200  25.300479  2714019737356678                      fraud_Donnelly PLC
492277  25.300479  2714019737356678                     fraud_Heathcote LLC

             category            city state                 job  \
1784     shopping_net  Denham Springs    LA           Herbalist
1906     shopping_net  Denham Springs    LA           Herbalist
1956     shopping_net  Denham Springs    LA           Herbalist
1968     shopping_net  Denham Springs    LA           Herbalist
2039         misc_net  Denham Springs    LA           Herbalist
...               ...             ...   ...                 ...
488998  gas_transport     West Finley    PA  Theme park manager
491777   shopping_net     West Finley    PA  Theme park manager
492026   shopping_net     West Finley    PA  Theme park manager
492200       misc_net     West Finley    PA  Theme park manager
492277   shopping_net     West Finley    PA  Theme park manager

                               trans_num    Customer Name
1784    fe956c7e4a253c437c18918bf96f7b62    William Perry
1906    eb388ceabaf56474808664772b2d5853    William Perry
1956    aff46f2741b3501d32b447f842618666    William Perry
1968    8cabf98e58e2b29f7684362fea1f026c    William Perry
2039    720905fa777ec90291cfd002fd12d67f    William Perry
...                                  ...              ...
488998  a8b138ab50a7f2d618a6b4185facb1ef  Christina Moore
491777  edce6d8702c805036ff866e1170a3035  Christina Moore
492026  2d671407b86cfbf99b47245d65e25563  Christina Moore
492200  1f6496cac08540f0a2b682ef0974ef1e  Christina Moore
492277  1057d6d529be008234caffe13808aead  Christina Moore

[305 rows x 16 columns]

In [59]:
# Check at the mode  of transaction for the age group 
frequent_fraud =  age_mask['Age'].mode()

print("The most transacting age:\n")
print(frequent_fraud)

Age Groups where Fraud is dominant:

0    22.934976
Name: Age, dtype: float64

In [68]:
#Check the age group that is highly affected by fraud
fraud_data = data_df['is_fraud'] == 1

# Create age groups
bins = [14, 30, 50, 100]
labels = ['14-30', '31-50', '51-100']
data_df['Age Group'] = pd.cut(data_df['Age'], bins=bins, labels=labels, right=False)

# Count the number of fraud cases in each age group
age_group_fraud_counts = data_df[fraud_data]['Age Group'].value_counts()

print('Age Groups greatly affected by Fraud')
print(age_group_fraud_counts)

Age Groups greatly affected by Fraud
Age Group
51-100    979
31-50     849
14-30     317
Name: count, dtype: int64

In [95]:
# Quick Check on the age  group that is highly affected by fraud - Examine Data
age_group = data_df.loc[((data_df['Age'] >=51) & (data_df['Age'] <= 100) & data_df['is_fraud'] == 1)].sort_values(ascending=False, by='Age')


print('Customers defrauded by Age from the eldest to the youngest: \n')

print(age_group)

Customers defrauded by Age from the eldest to the youngest:

              dob gender  is_fraud  city_pop      amt  Tran_date Tran_time  \
129296 1924-10-30      M         1      9784   916.74 2020-08-04  22:26:34
121836 1924-10-30      M         1      9784     5.60 2020-08-03  01:23:17
121888 1924-10-30      M         1      9784   337.71 2020-08-03  01:48:07
122149 1924-10-30      M         1      9784     9.69 2020-08-03  03:49:18
125397 1924-10-30      M         1      9784  1113.40 2020-08-03  22:22:52
...           ...    ...       ...       ...      ...        ...       ...
341779 1969-05-01      M         1     92294   305.28 2020-10-31  01:38:06
341754 1969-05-01      M         1     92294   291.24 2020-10-31  01:17:52
343443 1969-05-01      M         1     92294  1007.34 2020-10-31  22:42:19
341919 1969-05-01      M         1     92294   298.13 2020-10-31  03:44:52
339829 1969-05-01      M         1     92294   304.47 2020-10-30  00:38:15

              Age            cc_num                 merchant      category  \
129296  95.761807  2358122155477959        fraud_Goyette Inc  shopping_net
121836  95.759069  2358122155477959    fraud_VonRueden Group   grocery_net
121888  95.759069  2358122155477959     fraud_Kiehn-Emmerich   grocery_pos
122149  95.759069  2358122155477959        fraud_Hills-Olson   grocery_net
125397  95.759069  2358122155477959           fraud_Kihn Inc  shopping_pos
...           ...               ...                      ...           ...
341779  51.501711   376012912828093   fraud_Goodwin-Nitzsche   grocery_pos
341754  51.501711   376012912828093          fraud_Kiehn Inc   grocery_pos
343443  51.501711   376012912828093  fraud_Fisher-Schowalter  shopping_net
341919  51.501711   376012912828093       fraud_Bogisich Inc   grocery_pos
339829  51.498973   376012912828093        fraud_Lockman Ltd   grocery_pos

                     city state                        job  \
129296  Linthicum Heights    MD     Conservator, furniture
121836  Linthicum Heights    MD     Conservator, furniture
121888  Linthicum Heights    MD     Conservator, furniture
122149  Linthicum Heights    MD     Conservator, furniture
125397  Linthicum Heights    MD     Conservator, furniture
...                   ...   ...                        ...
341779         Schaumburg    IL  Claims inspector/assessor
341754         Schaumburg    IL  Claims inspector/assessor
343443         Schaumburg    IL  Claims inspector/assessor
341919         Schaumburg    IL  Claims inspector/assessor
339829         Schaumburg    IL  Claims inspector/assessor

                               trans_num Customer Name Age Group
129296  51fc51c80f985c445bca3d291f3a0ed9     Mike Tran    51-100
121836  9f8d0f8fbf22e630e6a9b350f74823c7     Mike Tran    51-100
121888  1d629d8f67a23b4a77c14762264e842a     Mike Tran    51-100
122149  05c58f4cc15ecc450c646f6ebb9d8f5b     Mike Tran    51-100
125397  68e302253cf031d4d5c94fae29e2f35e     Mike Tran    51-100
...                                  ...           ...       ...
341779  829cff55f2e5917904776b871c676133  Nathan Mayer    51-100
341754  e69fd35fec0c7ab0013cddf4ad6433c8  Nathan Mayer    51-100
343443  b5936c854fecf50faf5e68d4c72bf7d3  Nathan Mayer    51-100
341919  2ee29641130d8b6daa8289b5fb48de3a  Nathan Mayer    51-100
339829  43f210bd209fc7cbb97074beaa940dec  Nathan Mayer    51-100

[934 rows x 17 columns]

##### .iloc[]
- .iloc[] is a method used for integer-based indexing in pandas.
- It allows you to access data using integer indices to select rows and columns.
- The syntax for .iloc[] is: df.iloc[row_indexer, column_indexer]
- **NB** The row_indexer and column_indexer can be a single integer, a list of integers, a slice object, or a boolean array.

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'